.main-field {
  height: 100%;
  background-color: rgb(255, 252, 233);
}

.gallery {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item {
  width:300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.50);
  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: all 0.3s;
}
.gallery__item:hover {
  transform: scale(1.2);
  margin-top: 0;
  margin-bottom: 0;
  z-index: 5;
}

.gallery__item-link {
  display: flex;
  justify-content: center;
  height: inherit;
  width: inherit;
}

.gallery__item-pic {
  height: inherit;
  width: auto;
}
