/* Comments navigation styles */
.show-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.show-comments-btn {
  margin-bottom: 2rem;
  height: 2.5rem;
  left: 50%;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ff2d2d;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.show-comments-btn:hover {
  border-bottom: 4px solid #fc0000;
}

.comments-nav {
  height: 6.5rem;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem auto 1.5rem auto;
}

.comments-nav__btn {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 2rem;
  margin-left: 0.18rem;
  margin-right: 0.2rem;
  outline: 0.2rem solid transparent;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Calibri';
  background-color: #f56364;
  color: #fff;
}

.comments-nav__btn--active {
  transform: scale(1.2);
  background-color: #f42728;
  outline: none;
}

.comments-nav__btn:hover {
  background-color: #f42728;
}
