.contacts {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  height: 800px;
  width: 100%;
}

.contacts__letter {
  width: 100%;
  margin: 7% 2% 7% 0;
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cotact-form {
  width: 54%;
  display: flex;
  flex-wrap: wrap;
}

.cotact-form__input {
  text-align: left;
  padding-left: 5%;
  width: 41.5%;
  height: 50px;
  margin-bottom: 2rem;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.cotact-form input:first-child {
  margin-right: 7%;
}

.cotact-form__input-text {
  padding-top: 2rem;
  padding-right: 2rem;
  height: 213px;
  width: 100%;
}

.cotact-form__send-btn {
  width: 100%;
  height: 62px;
  border-radius: 5px;
  background-color: #ff3b3b;
  color: #ffffff;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6%;
  padding-right: 12%;
  width: 20%;
  height: 100%;
  background-color: #2d2d2d;
  color: #a8a8a8;
}

.contacts__info > span, a {
  margin-bottom: 15px;
}

.contacts__info-title {
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  color: #d5d5d5;
}

.contacts__info a {
  color: #a8a8a8;
}

.contacts__info a:hover {
  color: #fff;
}
