/* 3 part of Homepage */

.feature-products__comments {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: auto;
}

.red-underscore {
  margin-top: -1rem;
  margin-bottom: 2rem;
  width: 132px;
  height: 2px;
  background-color: #ff2d2d;
  border: none;
}

.comment-input {
  display: flex;
  flex-direction:column;
}

.comment-input__name {
  border: 1px solid #ff2d2d;
  border-radius: 5px;
  height: 25px;
  width: 25%;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.comment-input__email {
  border: 1px solid #ff2d2d;
  border-radius: 5px;
  height: 25px;
  width: 35%;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.comment-input__wrapper {
  display: flex;
  justify-content: flex-start;
}

.comment-input__textfield {
  outline: none;
  border: 1px solid #ff2d2d;
  border-right: none;
  border-radius: 5px 0 0 5px;
  height: 82px;
  width: 89%;
  font-size: 18px;
  padding-left: 20px;
}

.comment-input__send-btn {
  text-align: center;
  padding: 13px 10px 11px 10px;
  height: 86px;
  border-radius: 0 5px 5px 0;
  background-color: #ff2d2d;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  width: 11%;
  cursor: pointer;
}
.comment-input__send-btn__send-btn:hover {
  background-color: #f41a1a;
  font-size: 22px;
}

.comments {
  display: flex;
  flex-direction: column;
}

/* User comment's styles */

.user-comment-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ff2d2d;
}

.user-comment__data {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.user-comment__name {
  font-weight: bold;
  margin-right: 30px;
  margin-left: 10px;
}

.user-comment__date {
  font-style: italic;
  opacity: 0.6;
}

.user-comment__text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.9;
}

.reply-comment-btn {
  text-align: center;
  font-weight: bold;
  width: 60px;
  border: none;
  color: rgb(3, 136, 212);
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}
.reply-comment-btn:hover {
  color: rgb(6, 163, 252);
}
