.footer-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #313030;
  height: 111px;
}

.footer-field__copyright {
  color: #b8b8b8;
}

.footer-field__social-panel > a {
  margin-right: 1rem;
}
