
.header-container {
  display: flex;
  justify-content: center;
  height: 89px;

  background-color: #f6f2f2;
}

.centering-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f2f2;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 89px;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 111px;
}

.header-menu__item {
  height: 100%;
  color: #fff;
  list-style-type: none;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.header-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.header-menu__item > a {
  color: #fff;
  margin: 0;
}

.header-menu__item:hover {
  background-color: #e87b7b;
}

.header-menu__item--active {
  background-color: #ff3f40;
}
