/* User comment's styles */

.user-comment-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ff2d2d;
}

.subcomment {
  width: 98.4%;
  margin: 0.2rem 0 0.2rem 1%;
  border: 1px dotted #ff2d2d;
  padding-left: 0.2rem;
}

.user-comment__data {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.user-comment__name {
  font-weight: bold;
  margin-right: 30px;
  margin-left: 10px;
}

.user-comment__date {
  font-style: italic;
  opacity: 0.6;
}

.user-comment__text {
  margin-top: 5px;
  margin-bottom: 10px;
  /* font-size: 20px; */
  opacity: 0.9;
}

.wrapper-comment-interactions {
  display: inline-flex;
  justify-content: space-between;
}

.reply-comment-btn {
  text-align: center;
  font-weight: bold;
  width: 4rem;
  border: none;
  color: rgb(3, 136, 212);
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}
.reply-comment-btn:hover {
  color: rgb(6, 163, 252);
}

.comment-replies-btn {
  text-align: center;
  font-weight: bold;
  width: 15.5rem;
  border: none;
  color: rgb(117, 171, 201);
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}
.comment-replies-btn:hover {
  color: rgb(6, 163, 252);
}

.anchor-subcomment {
  color:rgb(3, 136, 212);
  font-size: 0.8rem;
}
.anchor-subcomment:hover {
  color:rgb(6, 163, 252);
}

.commentator-anchor {
  color: rgb(3, 136, 212);
}
.commentator-anchor:hover {
  color: rgb(6, 163, 252);
}
